.MMM-EmbedURL .embed.rootWrapper, .embed .embededWrapper, .embed .embededSubWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.MMM-EmbedURL .embed.rootWrapper {
    flex-direction: column;
}

.MMM-EmbedURL .embed .embededSubWrapper0 {
    flex-direction: row;
    align-items: flex-start;
}

.MMM-EmbedURL .embed .iconWrapper, .embed .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.MMM-EmbedURL .ebmed .title {
    text-decoration: underline;
}

.MMM-EmbedURL .embed .fontIcon {
    line-height: 1.5;
}

.MMM-EmbedURL .embed .fontIcon.iconify {
    width: 32px;
    height: 32px;
}

.MMM-EmbedURL .embed .imgIcon {
    width: 32px;
}

/* .MMM-EmbedURL .embed .embeded {
    width: 800px;
    height: 400px;
} */
